<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">gutenshare network</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <p class="lead">
          The premier document sharing platform<br>
          By Students, for Students
        </p>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div *ngIf="!isLoggedIn()" class="col-lg-6 col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/login" routerLinkActive="active">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/signup" routerLinkActive="active">Sign Up</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>

    <div class="col-lg-6 col-md-12">
      <h2>About the gutenshare network</h2>
      <p>
        The gutenshare network is a web platform independent from lecturers and educational institutions, for students by students, to share study related resources. You upload documents you are willing to share with your peers.
      </p>
      <p>
        Besides the search functionality, you will be able to easily locate contributions of others through the gutenshare document browser.
      </p>
      <p>
        As means of quality control you can rate documents and discuss them in the comment section.
      </p>
    </div>
  </div>
</div>
