<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">browse the archives.</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form (submit)="getDocuments()">
        <div class="form-group">
          <label for="form-schools">Institution</label>
          <select [(ngModel)]="browseCategories.school" id="form-schools" name="school" class="form-control" multiple>
            <option *ngFor="let school of predefinedCategories.schools">
              {{ school.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="form-departements">Department</label>
          <select [(ngModel)]="browseCategories.departement" id="form-departements" name="departement" class="form-control" multiple>
            <option *ngFor="let department of predefinedCategories.departments">
              {{ department.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="form-courses">Course</label>
          <select [(ngModel)]="browseCategories.course" id="form-courses" name="course" class="form-control" multiple>
            <option *ngFor="let course of predefinedCategories.courses">
              {{ course.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-block btn-info btn-get-documents" (click)="getDocuments()">Get Documents</button>
    </div>
  </div>

  <app-documents-result *ngIf="!noResults" [documents]="matchingDocuments"></app-documents-result>
  <div *ngIf="noResults" class="row justify-content-md-center">
    <div class="alert alert-warning" role="alert">
      Sorry - no documents matching the search were found.
    </div>
  </div>
</div>
