<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">browse the archives.</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form (submit)="getDocuments()">
        <div class="form-group">
          <label for="">Institution</label>
          <select class="form-control" id="" multiple>
            <option *ngFor="let school of schools" (click)="addSchool(school.name)">
              {{ school.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="">Department</label>
          <select class="form-control" id="" multiple>
            <option *ngFor="let department of schools | extractDepartments" (click)="addDepartement(department)">
              {{ department }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="">Course</label>
          <select class="form-control" id="" multiple>
            <option *ngFor="let course of schools | extractCourses" (click)="addCourse(course)">
              {{ course }}
            </option>
          </select>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-block btn-info btn-get-documents" (click)="getDocuments()">Get Documents</button>
        </div>
      </form>
    </div>
  </div>

  <app-documents-result [documents]="documents"></app-documents-result>
</div>
