<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">browse the archives.</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form (submit)="getDocuments()">
        <div class="form-group">
          <label for="">Institution</label>
          <select id="form-schools" class="form-control" multiple>
            <option *ngFor="let school of predefinedCategories.schools" (click)="addSchool(school.name)">
              {{ school.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="">Department</label>
          <select id="form-departements" class="form-control" multiple>
            <option *ngFor="let department of predefinedCategories.departments" (click)="addDepartement(department.name)">
              {{ department.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="">Course</label>
          <select id="form-courses" class="form-control" multiple>
            <option *ngFor="let course of predefinedCategories.courses" (click)="addCourse(course.name)">
              {{ course.name }}
            </option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-block btn-info btn-get-documents" (click)="getDocuments()">Get Documents</button>
    </div>
  </div>

  <app-documents-result [documents]="matchingDocuments"></app-documents-result>
</div>
