<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%AZURE_TOMCAT85_HOME%\bin\startup.bat" arguments="">
      <environmentVariables> 
        <environmentVariable name="JAVA_OPTS"
              value="-Dfile.encoding=UTF-8 -Djava.net.preferIPv4Stack=true -Xms128m 
                     -Xmx768m -XX:PermSize=64m -XX:MaxPermSize=64m" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>