/* You can add global styles to this file, and also import other style files */

@import './variables';

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.jumbotron {

  padding: 1.5em 2em;

  h1 {
    margin-top: 1.5em;
  }
}

.serif {
  font-family: serif;
}

.nav-link:hover {
  color: $font-grey-hover;
  //border: none;
}

.nav-link.active {
  color: $font-grey-active;
}

.nav-link {
  color: $font-grey-default;
}
