<h2>Sign Up</h2>

<form>
  <div class="form-group row">
    <label for="input_first_name" class="col-sm-3 col-form-label">First Name</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="input_first_name" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_last_name" class="col-sm-3 col-form-label">Last Name</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="input_last_name" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="input_email" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_password" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="input_password" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_password_repeat" class="col-sm-3 col-form-label">Repeat</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="input_password_repeat" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-9 offset-sm-3">
      <button type="submit" class="btn btn-outline-secondary">Sign Up</button>
    </div>
  </div>
</form>


