<h2>Sign Up</h2>

<form [formGroup]="signUpForm" (ngSubmit)="signUpUser(signUpForm.value)">
  <div class="form-group row">
    <label for="input_first_name" class="col-sm-3 col-form-label">First Name</label>
    <div class="col-sm-9">
      <input formControlName="firstname" type="text" class="form-control" id="input_first_name" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_last_name" class="col-sm-3 col-form-label">Last Name</label>
    <div class="col-sm-9">
      <input formControlName="lastname" type="text" class="form-control" id="input_last_name" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_username" class="col-sm-3 col-form-label">Username</label>
    <div class="col-sm-9">
      <input formControlName="username" type="text" class="form-control" id="input_username" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_email" class="col-sm-3 col-form-label">Email</label>
    <div class="col-sm-9">
      <input formControlName="mail" type="email" class="form-control" id="input_email" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_password" class="col-sm-3 col-form-label">Password</label>
    <div class="col-sm-9">
      <input formControlName="password" type="password" class="form-control" id="input_password" placeholder="Password">
    </div>
  </div>
  <div class="form-group row">
    <label for="input_password_repeat" class="col-sm-3 col-form-label">Repeat</label>
    <div class="col-sm-9">
      <input formControlName="passwordRepeat" type="password" class="form-control" id="input_password_repeat" placeholder="Password">
    </div>
  </div>
  <!--todo: show error if registration unsuccessful-->
  <div class="form-group row">
    <div class="col-sm-9 offset-sm-3">
      <button type="submit" class="btn btn-outline-secondary">Sign Up</button>
    </div>
  </div>
</form>


