<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <a class="navbar-brand serif" routerLink="/home">gutenshare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="/browse" routerLinkActive="active">Browse</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="/upload" routerLinkActive="active">
        Upload
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-sign-out-alt"></i>
          Log out
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div *ngIf="isLoggedIn">
      <span class="navbar-text">
        Welcome <span class="user-welcome"> {{ username }} </span>
      </span>
    </div>
    <app-document-search *ngIf="isLoggedIn"></app-document-search>
  </div>
</nav>

<main role="main">
  <router-outlet></router-outlet>
</main>

<footer class="container">
  <hr>
    <div class="row justify-content-md-center">
      <div class="col-lg-6 col-md-12" align="center">
        <h3>Group04 GmbH</h3>
        <p>gutenshare network</p>
        <ul class="list-inline">
          <li class="list-inline-item">Alex</li>
          <li class="list-inline-item">Alicia</li>
          <li class="list-inline-item">Arik</li>
          <li class="list-inline-item">Louis</li>
          <li class="list-inline-item">Kaspar</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12">
        <img align="center" id="gs-logo" alt="gutenshare logo" src="../assets/img/gutenshare_logo.svg">
      </div>
    </div>
</footer>
