@import '../sass/variables';

.nav-item:hover {
  text-decoration: underline;
}

.nav-item {
  margin-left: 2em;
}

.navbar-light.bg-light {
  border-bottom: 1px solid lightslategrey;
}

.user-welcome {
  margin-left: 0.5em;
  margin-right: 2em;
  font-weight: bold;
}

#gs-logo {
  display: block;
  width: 25em;
  height: 8em;
  margin-left: auto;
  margin-right: auto;
}

footer {

  margin-top: 5em;

  h3 {
    margin-top: 0.5em;
  }
}

.serif {
  font-family: serif;
}

@media (min-width: 979px) {
  ul.navbar-nav li.dropdown:hover > div.dropdown-menu {
    display: block;
  }
}

.dropdown-menu {
  top: 2.2em;
  border: none;
  box-shadow: 3px 3px 15px $background-grey;
}

a.dropdown-item {
  color: $font-grey-default;
}

a.dropdown-item.active {
  background-color: inherit;
  color: $font-grey-default;
}

a.dropdown-item:hover {
  background-color: $background-grey-lighter;
  color: $font-grey-hover;
}

a.dropdown-item.active {
  color: $font-grey-active;
}
