.nav-item:hover {
  text-decoration: underline;
}

.nav-item {
  margin-left: 2em;
}

.navbar-light.bg-light {
  border-bottom: 1px solid lightslategrey;
}

#gs-logo {
  display: block;
  width: 25em;
  height: 8em;
  margin-left: auto;
  margin-right: auto;
}

footer h3 {
  margin-top: 0.5em;
}
